<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <application
        android:name=".common.OreumApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/oreum_light"
        android:label="@string/app_k_name"
        android:roundIcon="@drawable/oreum_light"
        android:supportsRtl="true"
        android:theme="@style/Theme.OreumMark"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splash.PermissionActivity"
            android:exported="true" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.login.JoinFormActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.detail.stamp.LocationSetting"
            android:exported="true" />
        <activity
            android:name=".ui.main.search.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.JoinTermContent"
            android:exported="false" />
        <activity android:name=".ui.main.setting.WithdrawalActivity"
            android:exported="false"/>

        <service android:name=".common.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_map_native_app_key" />
    </application>

</manifest>